<MSG>
    <CUST_ID>105290054410326</CUST_ID>
    <OPER_ID>31247482-X-003</OPER_ID>
    <PASSWORD>4427d7df1e1b03ab101a6a034638ccaa</PASSWORD>
    <PORT>33898</PORT>
    <SIGN_LIST>6W4005,6W4008,6W4009,6W4010,6W4012,6W2100,6W8010,6W8020,6W1303,6W1403,6G9202,6G9083,6G9063,6G9071,6G9207,6G9026,6G9044,6G9034,6G9094,6G9099,6G9114,6G9301,6G9051,6G9321,6G9076,6G9088,6G9089,6G9074,6G9075,6G9922,6G9923,6GA301,6GA321,661403,5W1004,520200,6W3300,6W3310,6W8060,5W1007</SIGN_LIST>
    <REJECT_LIST></REJECT_LIST>
    <SW_CONNECT>0</SW_CONNECT>
    <LOG_INFO></LOG_INFO>
    <EBS_URL>https://mybank.ccb.com.cn/app/B2CMainPlatV5OUT</EBS_URL>
    <SW_URL>61.144.66.41</SW_URL>
    <WEB_URL>https://b2b.ccb.com/WLPT_MON/NECV5processServlet</WEB_URL>
    <UPLOAD_LIST>6G9321,6G9923,6GA321,6G9075,6G9924,6G9111,6G9096,6G9031,6G9061,661802</UPLOAD_LIST>
    <DOWNLOAD_LIST>6G9175,6W0107</DOWNLOAD_LIST>
    <UPLOAD_URL>https://b2b.ccb.com/NCCB/NECV5B2BFile4WLPT</UPLOAD_URL>
    <BIG_DOWNLOAD_LIST>6W0108,6W0111</BIG_DOWNLOAD_LIST>
    <BIG_DOWNLOAD_URL>https://mybank.ccb.com.cn/app/DownloadFile4WLPT</BIG_DOWNLOAD_URL>
    <CUSTOMER_TYPE>COMMON</CUSTOMER_TYPE>
    <MERCHANT_LIST>520200</MERCHANT_LIST>
    <RETURN_CODE_6BIT>0</RETURN_CODE_6BIT>
    <TRADE_ROAD>B2C</TRADE_ROAD>
    <BIG_UPLOAD_LIST>6W0109</BIG_UPLOAD_LIST>
    <BIG_UPLOAD_URL>https://b2b.ccb.com/WLPT_MON/NECV5UploadFile4WLPT</BIG_UPLOAD_URL>
    <QUE_OVER_COUNT>40</QUE_OVER_COUNT>
    <TRAN_TIMEOUT>10</TRAN_TIMEOUT>
    <CUST_FLAG>0</CUST_FLAG>
    <TRAN_ERR_RATE>98</TRAN_ERR_RATE>
    <THREAD_CNT>40</THREAD_CNT>
    <SPECIAL_LINE>FALSE</SPECIAL_LINE>
    <SPECIAL_IP></SPECIAL_IP>
    <SPECIAL_PORT></SPECIAL_PORT>
    <CERTPWD>15358c8468192e2bf3efeeccc357eaf8</CERTPWD>
    <RESTART>0</RESTART>
    <OPER_NAME></OPER_NAME>
    <TEL></TEL>
    <MAIL></MAIL>
    <NOTIPS></NOTIPS>
    <TIPS></TIPS>
</MSG>