<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
 <appSettings>
    <!--商户在百付宝的商户ID测试商户号2600500001：-->
    <add key="SP_NO" value="9000100005"/> 
    <add key="SP_NO1" value="2600000030"/> 
    <!--密钥文件路径，该文件中保存了商户的百付宝合作密钥，该文件需要放在一个安全的地方，切勿让外人知晓或者外网访问-->
    <!--测试秘钥：-->
    <!--商户正式商户号：  -->
    <add key="SP_KEY_FILE" value="pSAw3bzfMKYAXML53dgQ3R4LsKp758Ss"/> 
    <add key="SP_KEY_FILE1"  value="UsDTmSzYmK9MYeRkXMwHXmRR7gfbSDsM"/> 
    <!--商户订单支付成功-->
    <add key="SP_PAY_RESULT_SUCCESS" value="1"/> 
    <!-- 商户订单等待支付-->
    <add key="SP_PAY_RESULT_WAITING" value="2"/> 
    <!--日志文件-->
    <add key="LOG_FILE" value="sdk.log"/> 


    <!--百付宝即时到账支付接口URL（不需要用户登录百付宝）-->
    <add key="BFB_PAY_DIRECT_NO_LOGIN_URL" value="https://www.baifubao.com/api/0/pay/0/direct"/> 
    <!-- 百付宝即时到账支付接口URL（需要用户登录百付宝，不支付银行网关支付）-->
    <add key="BFB_PAY_DIRECT_LOGIN_URL" value="https://www.baifubao.com/api/0/pay/0/direct/0"/> 
    <!-- 百付宝移动端即时到账支付接口URL（需要用户登录百付宝，不支付银行网关支付）-->
    <add key="BFB_PAY_WAP_DIRECT_URL" value="https://www.baifubao.com/api/0/pay/0/wapdirect/0"/> 
    <!-- 百付宝移动端即时到账支付接口URL（不需要用户登录百付宝，不支付银行网关支付）-->
    <add key="BFB_PAY_WAP_NOLOGIN_URL" value="https://www.baifubao.com/api/0/pay/0/wapdirect"/> 
   <!-- 百付宝订单号查询支付结果接口URL-->
    <add key="BFB_QUERY_ORDER_URL" value="https://www.baifubao.com/api/0/query/0/pay_result_by_order_no"/> 

     <!-- 百付宝订单号查询重试次数-->
    <add key="BFB_QUERY_RETRY_TIME" value="3"/> 
    <!-- 百付宝支付成功-->
    <add key="BFB_PAY_RESULT_SUCCESS" value="1"/> 
    <!-- 百付宝支付通知成功后的回执-->
    <!--add key="BFB_NOTIFY_META" value="<meta name=\\"VIP_BFB_PAYMENT\\" content=\"BAIFUBAO\">"/--> 
    
    <!-- 签名校验算法-->
    <add key="SIGN_METHOD_MD5" value="1"/> 
    <add key="SIGN_METHOD_SHA1" value="2"/> 

    <!-- 百付宝即时到账接口服务ID-->
    <add key="BFB_PAY_INTERFACE_SERVICE_ID" value="1"/> 
    <!--  百付宝查询接口服务ID-->
    <add key="BFB_QUERY_INTERFACE_SERVICE_ID" value="11"/> 
    <!-- 百付宝接口版本-->
    <add key="BFB_INTERFACE_VERSION" value="2"/> 
    <!-- 百付宝接口字符编码-->
    <add key="BFB_INTERFACE_ENCODING" value="1"/> 
    <!-- 百付宝接口返回格式：XML-->
    <add key="BFB_INTERFACE_OUTPUT_FORMAT" value="1"/> 
    <!-- 百付宝接口货币单位：人民币-->
    <add key="BFB_INTERFACE_CURRENTCY" value="1"/> 
    </appSettings>
  
    <connectionStrings/>
    
  
    <system.web>
        <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
        <compilation debug="true" />
        <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
        <authentication mode="Windows" />
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--设置编码-->
    <globalization requestEncoding="gbk" responseEncoding="gbk" />  

   
    </system.web>
</configuration>
