body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1297px;
  height:631px;
}
#u38 {
  position:absolute;
  left:33px;
  top:13px;
  width:1297px;
  height:631px;
}
#u39 {
  position:absolute;
  left:2px;
  top:308px;
  width:1293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:628px;
  top:214px;
  width:57px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:731px;
  top:210px;
  width:174px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:50px;
  top:67px;
  width:118px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:168px;
  top:67px;
  width:118px;
  height:25px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:305px;
  top:72px;
  width:63px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:202px;
  top:108px;
  width:93px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:311px;
  top:108px;
  width:127px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:915px;
  top:215px;
  width:99px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1294px;
  height:53px;
}
#u54 {
  position:absolute;
  left:36px;
  top:665px;
  width:1294px;
  height:53px;
}
#u55 {
  position:absolute;
  left:2px;
  top:18px;
  width:1290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  position:absolute;
  left:42px;
  top:728px;
  width:118px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:160px;
  top:728px;
  width:118px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  position:absolute;
  left:42px;
  top:772px;
  width:432px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  white-space:nowrap;
}
